// ==============================
// Override Variables
// 覆盖变量
// ==============================

// Color of the text
$global-font-color: #161209 !default;
$global-font-color-dark: #d1d1d1 !important;

// Font and Line Height
$global-font-family: system-ui, -apple-system, BlinkMacSystemFont, PingFang SC, Microsoft YaHei UI, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, Helvetica, Arial, sans-serif !default;
$global-font-size: 16px !important;
$global-font-weight: 400 !default;
$global-line-height: 1.5rem !default;
